@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Apercu";
  src: url("../Fonts/Apercu_Regular.otf");
}
@font-face {
  font-family: "Butler";
  src: url("../Fonts/Butler_Regular.otf");
}
@font-face {
  font-family: "futurak";
  src: url("../Fonts/futurak.ttf");
}

body {
  margin: 0 auto;
  background-color: #000;
}
.main_header {
  width: 100%;
}

.head_div {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav_link {
  padding: 17px 36px 0 0;
}
.nav a {
  color: #fff;
  text-decoration: none;
}
.btn_fran {
  font-size: 14px;
  padding: 12px 16.5px;
  margin-right: 12px;
  border: 1px solid #fff;
  border-radius: 35px;
}
.btn_order {
  background: #ed1c24;
  padding: 12px 13.5px;
  border: 1px solid #ed1c24;
  border-radius: 35px;
  font-size: 14px;
  align-items: center;
  display: flex;
  gap: 10px;
}
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_section {
  padding: 70px 15px 0 15px;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.custom_div {
  max-width: 1140px;
  margin: 0 auto;
}
.footer_div {
  display: grid;
  position: relative;
  width: 100%;
  gap: 30px 45px;
  padding-bottom: 55px;
  z-index: 1;
  grid-template-columns: 1.5fr 0.8fr 1fr 0.8fr;
  grid-template-rows: auto;
  grid-template-areas: ". . . .";
}

.detail_box div,
p {
  padding-bottom: 24px;
}
.detail_box_one img {
  padding-bottom: 24px;
}
.detail_box_one p {
  font-family: "Apercu";
  line-height: 21px;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-style: normal;
}
.detail_box_one,
.contact_box_2 li a {
  font-weight: 400;
  font-family: "Apercu";
  line-height: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7) !important;
  text-decoration: none;
}
.links li {
  display: inline-block;
  padding-right: 10px;
}
.contact_box_2 li {
  padding-bottom: 16px;
}

.con_heading {
  font-weight: 700;
  font-size: 16px;
}
.detail_box h3 {
  font-family: "Butler";
  font-weight: 700;
  font-size: 16px;
}
.social_links a {
  display: flex;
  align-items: center;
  margin-right: 8px;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ed1c24;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
}
.social_links {
  display: flex;
}
.app_links li {
  margin-bottom: 13px;
}

.copy_right_footer {
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
  padding: 15px;
  color: #fff;
}

.copy_right {
  margin: 0 auto;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
}
.brand_section {
  padding: 70px 15px 70px 15px;
}
.brand_text {
  font-family: "Apercu";
  font-style: normal;
  text-align: center;
}

.brand_text h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 8px;
}
.brand_text .snp {
  font-family: "futurak";
  font-size: 52px;
  line-height: 62px;
}
.brand_text p {
  padding: 0;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.container_brand {
  margin: 0 auto;
  color: #fff;
}

.brand_div {
  display: flex;
  justify-content: center;
}
.brand_img a {
  display: block;
  width: 174;
  height: 50px;
  margin: 24px 38px 0;
  align-content: center;
  text-align: center;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: "inter";
  font-size: 14px;
}
.brand_img {
  max-width: 100%;
  padding: 0px 15px;
}

.brand_img img {
  width: 212px;
  max-height: 140px;
  height: 100px;
  background-color: #fff;
  padding: 20px 19px;
  border-radius: 3px;
}
.fran_sec {
  padding: 70px;
  color: #fff;
}
.fran_con {
  margin: 0 50.5px;
  padding: 0 15px;
}
.row {
  text-align: center;
}
.row .snp {
  font-family: "futurak";
  font-size: 52px;
  font-style: normal;
  line-height: 62px;
  font-weight: 400;
}
.row h2 {
  font-family: "Butler";
  font-style: normal;
  margin-bottom: 8px;
  line-height: 60px;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1px;
}
.row p {
  padding: 0%;
  font-family: "Apercu";
  font-size: 16px;
  margin-bottom: 48px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 19px;
}

.fran_detail {
  font-family: "Apercu";
  display: flex;
  justify-content: center;
  align-items: center;
}

.fran_cont {
  /* justify-content: space-evenly; */
  display: flex;
  margin: 0% 10%;
  margin-bottom: 48px;
  padding: 0 97px;
}
.fran_detail div {
  /* justify-items: left; */
  width: 100%;
  flex: 1;
  padding: 0 12px;
}
.fran_3_card_detail small,
.fran_detail small {
  font-family: "Apercu";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: block;
}
.fran_detail img {
  width: 636px;
  height: 346px;
  /* display: block; */
}
.fran_3_card_detail h3,
.fran_detail h3 {
  font-family: "Apercu";
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 24px;
}
.fran_3_card_detail .snp,
.fran_detail .snp {
  font-family: "futurak";
  line-height: 29px;
}
.fran_3_card_detail p,
.fran_2_card p,
.fran_detail p {
  font-family: "Apercu";
  padding: 0;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.fran_3_card_detail a,
.fran_detail a,
.fran_2_card a {
  display: flex;
  width: 174px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  font-family: "Poppins";
  font-size: 14px;
  color: #ffffff;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.arrow_one {
  background-color: #fff;
  color: #dc3545;
  border-radius: 30px;
  padding: 8px 8px;
  margin-left: 10px;
  justify-content: center;
  align-content: center;
}

.fran_2_sec {
  margin: 0 auto;
  width: 100%;
  padding: 70px 0 38px 0;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}
.express_fran h2,
.fran_2_sec h2,
.fran_3_sec h2 {
  font-family: "Butler";
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 30px;
}
.fran_2_sec_row .snp,
.fran_3_sec_row .snp {
  font-family: "futurak";
  font-size: 52px;
  line-height: 62px;
  font-weight: 400;
}

.fran_2_cards {
  display: flex;
}
.fran_2_card {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 32px;
  justify-items: center;
}
.fran_2_card img {
  width: 408px;
  height: 250px;
}
.fran_2_card small {
  font-family: "Apercu";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  margin-top: 24px;
  display: block;
}
.fran_2_card h3 {
  font-family: "Apercu";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 18px;
}
.fran_2_card .snp {
  font-family: "futurak";
}
.fran_2_card p {
  font-family: "Apercu";
  font-size: 14px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.7);
  height: 36px;
  margin: 0;
}
.fran_2_card a {
  margin-top: 20px;
}
.fran_3_sec {
  margin: auto;
  width: 100%;
  padding: 48px 0px;
  color: #fff;
  text-align: center;
}
.fran_3_sec_row h2 {
  margin-bottom: 20px;
}
.fran_3_sec_cont {
  display: flex;
}

.fran_3_sec_cont img {
  margin: auto;
  padding: 0 12px;
}

.fran_3_card_detail {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.fran_3_detail {
  margin: auto 12px;
  padding-top: 16px;
}

.arrow_two {
  background-color: #fff;
  color: #28a745;
  border-radius: 30px;
  padding: 8px 8px;
  margin-left: 10px;
  justify-content: center;
  align-content: center;
}
.fran_3_card_detail a {
  background-color: #28a745;
  border: 1px solid #28a745 !important ;
}
.fran_3_card_detail a:hover {
  background-color: #000;
}

.express_fran {
  width: 70%;
  margin: 0 auto;
  padding: 60px 0 38px 0;
  color: #fff;
  text-align: center;
}
.express_fran_cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.express_fran small {
  font-family: "Inter";
  font-size: 24px;
}
.express_fran_card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 24px;
  margin: 0 12px 32px 12px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  flex: 1 1;
  align-items: center;
  justify-content: center;
}

.express_fran_card img {
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
}
.express_fran_card small {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 5px;
  display: inline-block;
}

.express_fran_card p,
.express_fran_card h4 {
  font-family: "FuturaBlack BT";
  font-size: 21px;
  font-weight: 400;
  padding: 0;
  line-height: 30px;
}

.express_fran_card span {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  margin-right: 8px;
}

.social_feed_sec {
  padding-bottom: 60px;
  color: #fff;
  text-align: center;
}
.social_feed_sec h3 {
  font-family: "Butler";
  font-size: 32px;
  padding-bottom: 32px;
}

.social_feed_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social_feed_img img {
  flex: 1;
  height: auto;
  width: 0px;
  padding: 0 10px;
}

.pub_main {
  width: 70%;
  padding: 72px 0;
  font-family: "Inter";
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.pub_row {
  display: flex;
}

.pub_img {
  margin: 0 12px 32px 12px;
  padding: 32px 0 40px 0;
  border: 1px solid #ffffff52;
  flex: 1;
}

.pub_img img {
  width: 100%;
  height: auto;
}
.pub_text h3 {
  font-family: "Butler";
  font-size: 32px;
  margin: 32px 0 24px;
}
.pub_cont_info {
  margin-bottom: 12px;
}
.pub_cont_info span {
  margin-top: 12px;
  line-height: 36px;
}
.pub_cont_info p {
  padding: 0%;
  margin-bottom: 10px;
  font-family: "Apercu";
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
}
.pub_cont_info a {
  font-family: "Apercu";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.about_us_row {
  font-size: 32px;
}
.about_us_row h4 {
  line-height: normal;
  font-family: "Butler";
  margin-bottom: 10px;
}
.about_us_row .snp {
  line-height: normal;
  font-family: "futurak";
  font-weight: 400;
  font-size: 32px;
}
.about_us_v_fran {
  text-align: left;
}
